<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0X_Om7Pdrpu0GaAouq-KMdxr6xFtSiBo</string>
	<key>GCM_SENDER_ID</key>
	<string>951616862332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoSharingApp</string>
	<key>PROJECT_ID</key>
	<string>fvidlearn</string>
	<key>STORAGE_BUCKET</key>
	<string>fvidlearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951616862332:ios:f9936473a5c41a7dfe71f9</string>
</dict>
</plist>